@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --cream : hsl(30, 38%, 92%);
    --ff-base: 'Montserrat', sans-serif;
    --ff-accent:'Fraunces', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family:var(--ff-accent) ;
    font-weight: 700;
    font-size: 24px;
}

span{
    font-family: var(--ff-base);
}

body{
    font-family: var(--ff-base);
    font-weight: 500;
    font-size: 14px;
    background-color: var(--cream) ;
    min-height: 100vh;
    
}

